{% extends "base.html" %}
{% load i18n %}

{% block html-class %}{{ block.super }} no-header{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
  <div class="block">
    <div class="container">
      <h1>{% trans "Associating services" %}</h1>
      <p>{% trans "MPASS takes care of authentication using other services such as Facebook, Twitter etc. This is a safe way for you, as you do not need to tell ECA any of the passwords to your existing services in order to use them for entering ECA." %}</p>
      <p>{% trans "Press Continue and select a service of your choice. If you are not already logged in to the service, it requests you to log in. Then the service may confirm from you, what you allow ECA to do with your information. After this, you have associated the service, and can use it from now on for login into ECA." %}</p>
      <p><a class="btn btn-primary btn-lg" href="{% url 'auth.associate' %}" role="button">{% trans "Continue" %}</a></p>
    </div>
  </div>
{% endblock %}