
{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
<h1>Authn selector</h1>
<p>Educloud Alliance Auth service for inviting and registering new users.</p>
<p><a class="btn btn-primary btn-lg" href="http://portal.educloudalliance.org" role="button">Learn more about Educloud Alliance</a></p>
</div>

<div class="container"><div class="row">
<div class="col-md-4">
<h2>Invitator</h2>
<p>Invitator invites new users to the system by acting as trusted party and identifying the user.</p>
<ul>
<li><a href="/search">Invitee search</a>
<li><a href="/invite">Send registration tokens</a>
</ul>
</div>

<div class="col-md-4">
<h2>Invitee</h2>
<p>Invitee joins the system by authenticating with some auth source and using the registration token acquired by invitator.</p>
<ul>
<li><a href="/register">Use registration token</a>
</ul>
</div>

<div class="col-md-4">
<h2>Debug</h2>
<ul>
<li><a href="/invitator">Invitator login</a>
<li><a href="/invitee">Invitee login</a>
</ul>
</div>
</div></div>
{% endblock %}

