{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="content-wrapper">

    <h1>{% trans 'My authentication methods' %}</h1>

    <table class="table">
      <thead>
        <th>{% trans 'Attribute name' %}</th>
        <th>{% trans 'Attribute value' %}</th>
        <th>{% trans 'Remove' %}</th>
      </thead>
      <tbody>
        {% for attr in attributes %}
          <tr>
            <td>{{ attr.name }}</td>
            <td>{{ attr.value }}</td>
            <td><span class="glyphicon glyphicon-remove delete-attribute" aria-hidden="true" data-confirm-msg="{% trans 'Are you sure you want delete attribute ' %}" data-attribute="{{ attr.name }}" data-url="{% url 'api.attributes' %}"></span></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-primary">{% trans 'Add' %}</button>
  </div>
{% endblock %}

