{% extends "base.html" %}
{% load i18n %}

{% block nav-profile %}active{% endblock %}

{% block content %}
  <div class="block">
    <div class="container">

      <div class="content-wrapper">

        <h1>{% trans 'My authentication methods' %}</h1>

        <table class="table">
          <thead>
            <th>{% trans 'Attribute name' %}</th>
            <th>{% trans 'Attribute value' %}</th>
            <th>{% trans 'Remove' %}</th>
          </thead>
          <tbody>
            {% for attr in attributes %}
              <tr>
                <td>{{ attr.name }}</td>
                <td>{{ attr.value }}</td>
                <td><span class="glyphicon glyphicon-remove-circle delete-attribute" aria-hidden="true" data-confirm-msg="{% trans 'Are you sure you want delete attribute ' %}" data-attribute="{{ attr.name }}" data-url="{% url 'api.attributes' %}"></span></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <a type="button" class="open-authmodal btn btn-primary" href="{% url 'auth.info' %}">{% trans 'Add other association' %}</a>
        <a type="button" class="open-authmodal btn btn-primary" href="{% url 'mepin.info' %}">{% trans 'Add MePIN association' %}</a>

      </div>

    </div>
  </div>

  <div id="auth-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{% trans 'Add association' %}</h4>
        </div>
        <div class="modal-body">
          <div class="auth-iframe-container">
            <iframe class="auth-iframe" src=""></iframe>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block scripts-footer %}

  {{ block.super }}

  <script>
    $(function () {

      var $authModal = $('#auth-modal');
      var $authIframe = $authModal.find('iframe');

      $('.open-authmodal').on('click', function (e) {
        e.preventDefault();
        $authIframe.attr('src', $(this).attr('href'));
        $authModal.modal('show');
      });

      $authModal.on('hidden.bs.modal', function (e) {
        $authIframe.attr('src', '');
        location.reload();
      });

    });
  </script>

{% endblock %}
